@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins;
        @apply text-primary;
    }

    h1 {
        @apply font-semibold text-6xl text-primary lg:text-7xl;
    }

    h2 {
        @apply font-semibold text-4xl text-primary lg:text-5xl;
    }
}

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* From Public Directory */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.ttf');
    font-style: medium;
    font-weight: normal;
    font-display: swap;
}
